#markdownpreview {
  padding: 5%;
  width: 90%;
  min-height: 200px;
  max-height: 900px;
  overflow: scroll;
  display: none;
  border-radius: 5px;
  margin-top: 5px;
  border: 1px solid #DDD;
}
#markdownpreview h2,
#markdownpreview h1 {
  margin: 5px 0;
  padding: 0;
}